<div style="text-align:center">
  <input placeholder="Email" [(ngModel)]="txtEmail">
  <p>{{txtEmail}}</p>
  <h3 *ngIf="isLoggedIn">Giao dich</h3>
  <button class="btn btn-success" (click)="changeStatus()">
    {{ isLoggedIn ? 'Hide' : 'Show' }}
  </button>
  <p *ngFor="let subject of subjects">{{subject}}</p>
  <input placeholder="En" [(ngModel)]="txtEn">
  <br />
  <input placeholder="Vn" [(ngModel)]="txtVn">
  <br />
  <button class="btn btn-primary" (click)="addWord();">
    Add
  </button>
  <div *ngFor="let word of words">
    <h3
      [class.daThuoc]="word.isMemorized"
      [class.chuaThuoc]="!word.isMemorized"
    >{{ word.en }}</h3>
    <h3 [ngClass]="currentClass">{{ word.en }}</h3>
    <p [ngStyle]="currentStyle">{{ word.vn }}</p>
    <button class="btn btn-danger" (click)="removeWord(word.en)">Remove</button>
  </div>
</div>
